*{
  padding: 0;
  margin: 0;
}

.main-section{
  position: relative;
  top:50px;
  left: 140px;
  overflow-y: scroll;
  width: calc(100vw - 140px);
  padding: 20px;
  box-sizing: border-box;
  height: calc(100vh - 100px)
}

.invalid-feedback {
  display: block;
}